@import "scss/mixins";

.related-post-section {
    overflow: hidden;
    .post-card {
        @include flexbox;
        @include flex-wrap(wrap);
        @include align-items(flex-start);
        @include flex-direction(row);
        column-gap: 2.5rem;  
        background: transparent;
        padding: 0;      
        cursor: pointer;   
        @media (max-width:767px) {
            margin-bottom: 1.875rem;
        }
        .card-img {
            flex: 0 0 20rem;
            flex-shrink: 0;
            margin-bottom: 0; 
            @media (max-width: 1694px) {
                flex: 0 0 auto;
            }  
            @media (max-width: 991px) {
                width: 100%;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card-body {
            display: contents;
            .card-title {
                max-width: 300px;
                align-self: flex-end;
                margin-bottom: 0;
                @media (max-width: 1680px) {
                    margin-top: 1.5rem;                    
                    max-width: 600px;
                }
            }
            .card-info {
                width: 100%;
                margin-top: 1.875rem;
                max-width: 42.5rem;
                @media (max-width: 1680px) {
                    margin-top: 1rem;
                }
                .read-more {
                    position: relative;
                    z-index: 2;
                    display: inline-block;
                    margin-left: 0.25rem;
                    color: var(--blue);
                    @include transition(0.3s, ease-in-out);
                    &:hover,
                    &:focus {
                        color: var(--orange);

                    }
                }
            }
        }
    }

    .related-post-block {
        .row {
            @media (min-width: 576px) and (max-width: 767px) {
                >.col {
                    width: 50%;
                }
            }
        }
    }
}

.post-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    position: relative;
    background: #f6f6f6;
    padding: 25px;
    @media (max-width: 992px) {
        padding: 20px;
    }
    @media (max-width: 767px) {
        padding: 15px;
    }

    .card-img {
        background: #eaeaea;
        margin-bottom: 20px;
        @include transition(0.2s, ease-in-out);
    }

    .card-body {
        @include flexbox;
        @include flex-direction(column);

        .card-title {
            font-size: clamp(1.125rem, 2vw, 1.625rem);
            font-weight: 700; 
            text-wrap: balance;
            margin-bottom: 20px;
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
            a {
                color: var(--black);
                text-decoration: none;
                display: block;
                @include transition(0.3s, ease-in-out);
            }
        }
        .card-info {
            font-weight: 500;
            flex: 1 1 auto;
        }

        .post-meta {
            margin-top: 20px;
        }
    }

    &:hover,
    &:focus {
        .card-img {
            opacity: 0.8;
        }

        .card-body {
            .card-title {
                a {
                    color: var(--orange);
                }
            }
        }
    }
}

.user-info {
    @include flexbox;
    @include align-items(center);
    gap: 10px;

    .user-img {
        width: 32px;
        height: 32px;
        flex: none;
        border-radius: 4px;
        overflow: hidden;

        img {
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }

    .info {
        line-height: 1;

        .name {
            font-weight: 400;
            font-size: 13px;
            color: #000000;
            margin-bottom: 2px;
        }

        span {
            font-weight: 400;
            font-size: 11px;
            color: rgba(48, 48, 48, 0.6);
            display: inline-block;
        }
    }
}

// Blog Filter
.posts-archive-categories {
    position: relative;
    margin-bottom: 50px;
    @media (max-width: 767px) {
        margin: 0px auto 30px;
    }

    .nav-filter {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);

        li {
            a {
                font-family: var(--font-allerta);
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #000000;
                padding: 11px 15px 10px;
                @include border-radius(30px);
                border: 1px solid transparent;
                @include transition(0.2s, ease-in-out);
                text-decoration: none;
                display: inline-block;
                line-height: 1;

                @media (max-width: 575px) {
                    padding: 11px 10px 10px;
                }
            }

            &.active {
                a {
                    border-color: var(--primary);
                    color: var(--primary);
                }
            }

            &:hover,
            &:focus {
                a {
                    color: var(--primary);
                }
            }
        }
    }

    .ajax-post-search {
        position: relative;
        background: #c7e0f5;
        padding: 20px;
        .post-search {
            position: relative;
            width: 100%;

            @media (min-width: 767px) {
                width: 200px;
            }

            input {
                width: 100%;
                height: 35px;
                padding: 0 40px 0 15px;
                @include border-radius(30px);
                border: 1px solid #E6E6E6;
                font-family: var(--font-allerta);
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #303030;

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    -webkit-appearance: none;
                }

                &::-ms-clear,
                &::-ms-reveal {
                    display: none;
                    width: 0;
                    height: 0;
                }

                &:focus {
                    outline: none;
                }
            }

            .q-search {
                width: 35px;
                height: 35px;
                border: none;
                background: transparent;
                padding: 0;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(30px);
                position: absolute;
                top: 0;
                right: 0;

                span {
                    color: var(--black);
                    line-height: 0.7;

                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }

                .q-icon-close {
                    display: none;
                }
            }

            &.active {
                .q-search {
                    .q-icon-search {
                        display: none;
                    }

                    .q-icon-close {
                        display: block;
                    }
                }
            }

            .q-loader {
                position: absolute;
                right: 0px;
                top: 0px;
                display: none;
                z-index: -1;
                width: 35px;
                height: 35px;
                @include align-items(center);
                @include justify-content(center);

                .icw-loading {
                    text-align: center;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    background-color: var(--white);

                    &::after {
                        content: '';
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 2px solid #96c3f7;
                        border-color: #000 transparent #000 transparent;
                        animation: lds-dual-ring 1.2s linear infinite;
                    }
                }

                &.show {
                    z-index: 3;
                    @include flexbox;
                }
            }
        }
    }
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.blog-section {
    .row {
        --bs-gutter-y: 80px;

        @media (max-width: 992px) {
            --bs-gutter-y: 50px;
        }
    }

    .post-card {
        @media (max-width: 1200px) {
            max-width: 100%;
        }
    }
}

.blog-header {
    .blog-header-title {
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }

        .back-link-block {
            /* But This in main.scss */
            margin-bottom: 25px;
        }

        .title {
            font-size: clamp(28px, 3vw, 38px);
            margin-bottom: 20px;
            text-wrap: balance;
        }

        .sort-info {
            font-size: clamp(18px, 3vw, 20px);
            font-weight: 300;
        }

        .post-meta {
            font-size: 14px;
            color: #000000;
            @include flexbox;
            @include align-items(center);
            gap: 40px;
            margin-top: 30px;
            line-height: 1;

            @media (max-width: 992px) {
                margin-top: 20px;
            }

            span {
                font-weight: 400;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.6);
                display: block;
                margin-bottom: 8px;
            }

            .date,
            .user-info {
                position: relative;

                &::after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.12);
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: -20px;
                }
            }
        }
    }

    .media-block {
        background: #eaeaea;
    }
}

.blog-content-section {
    .row-post-content {
        display: grid;
        grid-template-columns: 288px auto;
        gap: 160px;

        @media (max-width: 1200px) {
            grid-template-columns: 250px auto;
            gap: 30px;
        }

        @media (max-width: 992px) {
            grid-template-columns: 100%;

            .col-sidebar {
                display: none;
            }
        }
    }
}

.position-sticky {
    position: sticky;
    top: 80px;
}

.sidebar {
    @media (max-width: 992px) {}

    .single-nav {
        .nav-title {
            font-weight: 600;
            font-size: 18px;
            color: var(--black);
            margin-bottom: 15px;
        }

        .navbar-list {
            .toc-indicator {
                background-color: var(--primary);
                height: 24px;
                left: -1.5px;
                position: absolute;
                top: 0;
                transition: top 0.2s ease, height 0.2s ease;
                width: 3px;
            }

            .nav-item {
                border-left: 2px solid #E6E6E6;
                padding-left: 20px;
                position: relative;

                .nav-link {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--black);
                    text-decoration: none;
                    @include transition(0.2s, ease-in-out);

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &:hover,
                    &:focus {
                        color: var(--primary);
                    }

                    &.active {
                        color: var(--primary);
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .post-sidebar {
        margin-top: 25px;

        img {
            max-width: 100%;
            width: 100%;
        }

        a {
            display: block;
            @include transition(0.2s, ease-in-out);

            &:hover,
            &:focus {
                opacity: 0.8;
            }
        }
    }
}

.share-socials {
    margin-top: 25px;

    .share-title {
        font-weight: 400;
        font-size: 12px;
        color: #000000;
        margin-bottom: 15px;
        display: inline-block
    }

    .social-lists {
        @include flexbox;
        @include align-items(center);
        gap: 20px;

        li {
            a {
                width: 14px;
                height: 14px;
                color: var(--black);
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                @include transition(0.2s, ease-in-out);

                svg {
                    width: 14px;
                    height: 14px;
                }

                &:hover,
                &:focus {
                    color: var(--primary);
                }
            }
        }
    }
}

.post-sticky-content {
    scroll-margin-top: 120px;
}