@import "../../assets/css/scss/mixins";

.products-card-section {
    .row {
        --bs-gutter-y: 50px; 
        @media (max-width: 992px) {
            --bs-gutter-y: 30px; 
        }
    }
    .products-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        position: relative;
        .card-img {
            margin-bottom: 20px;
            @media (max-width: 992px) {
                margin-bottom: 15px;
            }
        }
        .card-body {
            @include flexbox;
            @include flex-direction(column);
            .card-title {
                font-size: clamp(16px, 2vw, 18px);
                margin-bottom: 10px;
                a {
                    color: var(--black);
                    text-decoration: none;
                    @include transition(0.2s, ease-in-out);
                }
            }
            .card-info {
                color: var(--lightblack);
                font-size: clamp(14px, 1.5vw, 16px);
                flex: 1 1 auto;
            }
            .card-action {
                margin-top: 15px;
            }
        }
        &:has(a):hover,
        &:has(a):focus {
            .card-img {
                opacity: .8;
            }
            .card-title {
                color: var(--primary);
            }
        }
    }
}