.image-content-section {
    .image-content-block {
        &.is-left-img {
            .section-title {
                padding-right: 0;
            }
        }
    }
    .row {
        align-items: stretch;
    }
    .col-img {
        position: sticky;
        top: 0;
        height: fit-content;
        @media (max-width: 767px) {
            position: static;
        }
    }
    .outside-left {
        // align-self: stretch;
        display: flex;
        .media-block {
            width: 50vw;
            max-width: 60rem;
            margin-left: -6.25rem;
            overflow: hidden;
            display: flex;
            flex: 1 1 auto;
            @media (min-width: 2100px) {
                width: 100%;
                margin-left: 0;
            }
            @media (max-width: 1400px) {  
                margin-left: -3.125rem;
            }
            @media (max-width: 992px) {  
                margin-left: -1.25rem;
            }
            @media (max-width: 767px) { 
                width: 100vw; 
                margin-left: -1.25rem;
                margin-right: -1.25rem;
            }
            img {
                width: 100%;
                height: auto;
                min-height: 100%;
                object-fit: cover;
                object-position: center top;
                @media (max-width: 575px) {
                    object-fit: fill;  
                }
            }
        }
    }  
    .splide {
        .slide-img {
            height: 100%;
        }
    }
    .section-title {
        padding: 3.125rem 4.375rem; // 50px 70px
        margin-bottom: 0;
        @media (max-width: 1200px) {
            padding: 3.125rem 1.5rem; // 50px 24px
        }
        @media (max-width: 767px) {
            padding: 2.5rem 0;
        }
    }

    .with-vector {
        width: 100%;
        max-width: 100%;
        overflow: hidden;

        .mission-network {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }
}