@import "scss/mixins";

.related-post-section {
    .related-post-splide {
        @media (max-width: 1200px) {
            padding-bottom: 40px;
        }
        @media (max-width: 992px) {
            margin: 0 -15px;
        }
        .splide__pagination {
            bottom: 0px;
        }
    }
}
.post-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    position: relative;
    @media (max-width: 1200px) {
        max-width: 300px;
    }
    .card-img {
        margin-bottom: 20px;
        @include transition(0.2s, ease-in-out);
    }
    .card-body {
        @include flexbox;
        @include flex-direction(column);
        .post-cat-meta {
            z-index: 5;
            margin-bottom: 10px;  
            @include flexbox;
            @include flex-wrap(wrap);          
            .post-category {
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: var(--primary);
                font-family: var(--font-allerta);
                text-underline-offset: 4px;
                line-height: 1;
                &:hover, &:focus {
                    color: var(--black);
                }
            }
            .post-date {
                font-weight: 400;
                font-size: 11px;
                color: rgba(48, 48, 48, 0.6);
                display: inline-block;
                margin-left: auto;
            }
        }
        .card-title {
            font-size: clamp(16px, 2vw, 18px);
            flex: 1 1 auto;
            a {
                color: var(--black);
                text-decoration: none;
                display: block;
            }
        }
        .post-meta {
            margin-top: 20px;
            .user-info {
                @include flexbox;
                @include align-items(center);
                gap: 10px;
                .user-img {
                    width: 32px;
                    height: 32px;
                    flex: none;
                }
                .info {
                    line-height: 1;
                    .name {
                        font-weight: 400;
                        font-size: 13px;
                        color: #000000;
                        margin-bottom: 2px;
                    }
                    span {
                        font-weight: 400;
                        font-size: 11px;
                        color: rgba(48, 48, 48, 0.6);
                        display: inline-block;
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        .card-img {
            opacity: 0.8;
        }
        .card-body {
            .card-title {
                a {
                    color: var(--primary);
                    text-decoration: none;
                }
            }
        }
    }
}

// Blog Filter
.posts-archive-categories {
    margin: 0px auto 10px;
    padding: 10px 0;
    position: relative;
    @media (max-width: 767px) {
        @include flexbox;
        @include flex-direction(column-reverse);
        gap: 20px;
        margin: 0px auto 30px;
    }
    .nav-filter {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        li {
            a {
                font-family: var(--font-allerta);
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #000000;
                padding: 11px 15px 10px;
                @include border-radius(30px);
                border: 1px solid transparent;
                @include transition(0.2s, ease-in-out);
                text-decoration: none;
                display: inline-block;
                line-height: 1;
                @media (max-width: 575px) {
                    padding: 11px 10px 10px;
                }
            }
            &.active {
                a {
                    border-color: var(--primary);
                    color: var(--primary);
                }
            }
            &:hover, &:focus {
                a {
                    color: var(--primary);
                }
            }
        }
    }
    .ajax-post-search{
        position: relative;
        @media (min-width: 767px) {
            position: absolute;
            right: 0;
            top: 0;
        }
        .post-search {
            position: relative;
            width: 100%;
            @media (min-width: 767px) {
                width: 200px;
            }
            input {
                width: 100%;
                height: 35px;
                padding: 0 40px 0 15px;                
                @include border-radius(30px);
                border: 1px solid #E6E6E6;
                font-family: var(--font-allerta);
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #303030;
                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    -webkit-appearance:none;
                }
                &::-ms-clear,
                &::-ms-reveal {
                    display: none;
                    width: 0;
                    height: 0;
                }
                &:focus {
                    outline: none;
                }
            }
            .q-search {
                width: 35px;
                height: 35px;
                border: none;
                background: transparent;
                padding: 0;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(30px);
                position: absolute;
                top: 0;
                right: 0;
                span {
                    color: var(--black);
                    line-height: 0.7;
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
                .q-icon-close {
                    display: none;
                }
            }
            &.active {
                .q-search { 
                    .q-icon-search {
                        display: none;
                    }
                    .q-icon-close {
                        display: block;
                    }
                }
            }
            .q-loader {
                position: absolute;
                right: 0px;
                top: 0px;
                display: none;
                z-index: -1;
                width: 35px;
                height: 35px;
                @include align-items(center);
                @include justify-content(center);
                .icw-loading {
                    text-align: center;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    background-color: var(--white);
                    &::after {
                        content: '';
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 2px solid #96c3f7;
                        border-color: #000 transparent #000 transparent;
                        animation: lds-dual-ring 1.2s linear infinite;
                    }
                }
                &.show {
                    z-index: 3;
                    @include flexbox;
                }
            }
        }
    }
}
@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.blog-section {
    .row {
        --bs-gutter-y: 50px; 
        @media (max-width: 992px) {
            --bs-gutter-y: 30px; 
        }
    }
    .post-card {        
        @media (max-width: 1200px) {
            max-width: 100%;
        }
    }
}
.blog-header {
    .blog-header-title {
        @media (max-width: 992px) {
            margin-bottom: 30px;
        }
        .back-link-block {
            @include flexbox;
            @include align-items(center);
            line-height: 1;
            margin-bottom: 15px;
            .back-link {
                font-weight: 500;
                font-size: 14px;
                color: var(--black);
                @include flexbox;
                @include align-items(center);
                gap: 3px;
                @include transition(0.2s, ease-in-out);
                text-decoration: none;
                line-height: 1;
                .icon-back-arrow {
                    width: 20px;
                    height: 20px;
                    background-size: contain;
                    position: relative;
                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        @include border-radius(50%);
                        transform-origin: center;
                        @include transform(scale(0));
                        background-color: var(--darkblue);     
                        @include transition(0.2s, ease-in-out);
                        z-index: -1;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    &::after {
                        content: '';
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        @include border-radius(50%);
                        background-image: url('data:image/svg+xml,<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0635 4.99265L0.749767 4.99265M4.99241 0.750009L0.749767 4.99265L4.99241 9.23529" stroke="rgb(0 0 0)" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 10px;
                        @include transition(0.2s, ease-in-out);
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
                &:hover, &:focus {
                    color: var(--darkblue);
                    .icon-back-arrow {
                        &::after {
                            background-image: url('data:image/svg+xml,<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.0635 4.99265L0.749767 4.99265M4.99241 0.750009L0.749767 4.99265L4.99241 9.23529" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                        }
                        &::before {
                            @include transform(scale(1));
                        }
                    }
                }
            }
            .post-category {
                font-family: var(--font-allerta);
                font-weight: 400;
                font-size: 14px;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: var(--primary);
                &::before {
                    content: '';
                    width: 1px;
                    height: 12px;
                    background: rgba(0, 0, 0, 0.3);
                    display: inline-block;
                    margin: 0px 12px -1px;
                }
            }
        }
        .title {
            margin-bottom: 20px;
        }
        .post-meta {
            font-size: 14px;
            color: #000000;
            @include flexbox;
            @include align-items(center);
            gap: 40px;
            margin-top: 30px;
            line-height: 1;
            @media (max-width: 992px) {
                margin-top: 20px;
            }
            span {
                font-weight: 400;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.6);
                display: block;
                margin-bottom: 8px;
            }
            .date {
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.12);
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    right: -20px;
                }
            }
        }
    }
}
.blog-content-section {
    .row-post-content {
        display: grid;
        grid-template-columns: 288px auto;
        gap: 160px;
        @media (max-width: 1200px) {
            grid-template-columns: 250px auto;
            gap: 30px;
        }
        @media (max-width: 992px) {
            grid-template-columns: 100%;
            .col-sidebar {
                display: none;
            }
        }
    }
}
.position-sticky {
    position: sticky;
    top: 120px;
}
.sidebar {
    @media (max-width: 992px) {
    }
    .single-nav {
        .nav-title {
            font-weight: 600;
            font-size: 18px;
            color: var(--black);
            margin-bottom: 15px;
        }
        .navbar-list {
            .toc-indicator {
                background-color: var(--primary);
                height: 24px;
                left: -1.5px;
                position: absolute;
                top: 0;
                transition: top 0.2s ease, height 0.2s ease;
                width: 3px;
            }
            .nav-item {
                border-left: 2px solid #E6E6E6;
                padding-left: 20px;
                position: relative;
                .nav-link {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--black);
                    text-decoration: none;
                    @include transition(0.2s, ease-in-out);
                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }
                    &:hover, &:focus {
                        color: var(--primary);
                    }
                    &.active {
                        color: var(--primary);
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .post-newsletter {
        margin-top: 50px;
    }
}
.share-socials {
    margin-top: 50px;
    .share-title {
        font-weight: 600;
        font-size: 16px;
        color: #000000;
        margin-bottom: 15px;
        display: inline-block
    }
    .social-lists {
        @include flexbox;
        @include align-items(center);
        gap: 20px;
        li {
            a {
                width: 14px;
                height: 14px;
                color: var(--black);
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                @include transition(0.2s, ease-in-out);
                svg {
                    width: 14px;
                    height: 14px;
                }
                &:hover, &:focus {
                    color: var(--primary);
                }
            }
        }
    }
}
.post-sticky-content {
    scroll-margin-top: 120px;
}