.hero-section {
    display: flex;
    align-items: start;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    padding-top: clamp(3.125rem, 7.5vw, 6.25rem);
    padding-bottom: clamp(3.125rem, 7.5vw, 6.25rem);

    .media-bg-block {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        top: 0; // 120px
        right: 0;
        bottom: 0;
        left: 0;

        img,
        video {
            // display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    @media (max-width: 991px) {
        .media-bg-block {
            img {
                object-position: center;
            }
        }
    }

    @media (max-width: 767px) {
        align-items: end;
        min-height: 80vh;
        background: linear-gradient(0deg, white 40%, transparent);
        .media-bg-block {
            img {
                object-position: center;
            }
        }
    }

    .tagline {
        // width: 100%;
        // max-width: 34rem;
        @media (max-width: 991px) {
            max-width: 28rem; //448px
        }

        @media (max-width: 767px) {
            max-width: 22rem; //352px
        }

        @media (max-width: 575px) {
            max-width: 18rem; //288px
        }
    }

    .hero-content {
        .hero-title {
            h1 {
                padding-top: clamp(1.5rem, 3.5vw, 2.813rem); // 24px → 45px
                padding-bottom: clamp(1.5rem, 3.5vw, 2.813rem); // 24px → 45px
            }
            .icon-info-list {
                li {
                    &:not(:last-child) {
                        margin-bottom: clamp(1.5rem, 3.5vw, 2.75rem);
                    }
                }
            }
        }
    }
}