.advisers-bio-section {
    .advisers-content-block {
        max-width: 1140px;
        margin: 0 auto;
    }
    .advisers-info-block {
        max-width: 600px;
        .tagline {
            padding: 5px 12px;
            background: rgba(60, 172, 228, 0.15);
            border: 1px solid rgba(60, 172, 228, 0.6);
            border-radius: 50px;
            font-weight: 500;
            font-size: 12px;
            color: #3CACE4;
            margin-bottom: 15px;
            display: inline-block;
        }
        h1 {
            font-size: clamp(32px, 4vw, 60px);
            font-weight: 700;
            margin-bottom: 10px;
        }
        .designation {
            font-weight: 500;
            font-size: clamp(14px, 1.5vw, 16px);
            color: #3CACE4;
        }
        .quote {
            font-weight: 500;
            font-size: clamp(16px, 1.5vw, 18px);
            color: #000000;
            margin: 20px 0;
        }
        .sort-info {
            font-weight: 400;
            font-size: 16px;
            color: #4C4C4C;
            max-width: 630px;
            margin-top: 20px;
        }
        .personal-info {
            margin-top: 20px;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px 20px;
            @media (max-width: 1200px) {
                margin-bottom: 30px;
            }
            .info {
                display: flex;
                align-items: center;
                gap: 8px;
                font-weight: 500;
                font-size: 12px;
                color: #4C4C4C;
                line-height: 1;
                padding: 8px 12px;
                background: #FFFFFF;
                border: 1px solid #E5E5E5;
                border-radius: 6px;
                .icon {
                    width: 14px;
                    height: 14px;
                    flex: none;
                    background-size: contain;
                    display: inline-block;
                    &.icon-world {
                        background: url('../../assets/images/icons/icon-world.svg') no-repeat center;
                    }
                    &.icon-bag {
                        background: url('../../assets/images/icons/icon-bag.svg') no-repeat center;
                    }
                }                    
            }
        }
    }
    .advisers-img-block {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
        padding: 30px;
        position: relative;
        @media (max-width: 1200px) {
            padding: 20px;
        }
        @media (max-width: 767px) {
            margin-bottom: 40px;
            max-width: 100%;
        }
        &::after {
            content: '';
            position: absolute;
            top: 16px;
            left: -18px;
            background: url('../../assets/images/img-square-dot-vector.svg') no-repeat center;
            width: 75px;
            height: 75px;
        }
        .advisers-img {
            border-radius: 10px;
            margin-bottom: 20px;
            position: relative;
            img {
                width: 100%;
                border-radius: 10px;
            }
            .site-logo {
                position: absolute;
                width: 98px;
                height: 98px;
                right: -15px;
                bottom: -10px;
            }
        }
        .personal-info {
            .info {
                font-weight: 500;
                font-size: 14px;
                color: #000000;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                text-align: right;
                padding-bottom: 15px;
                margin-top: 15px;
                &:not(:last-child) {
                    border-bottom: 1px solid #E5E5E5;
                }
                span {
                    font-weight: 500;
                    font-size: 11px;
                    color: #4C4C4C;
                    line-height: 1;
                    display: block;
                    text-align: left;
                }
                &.live-consultation {
                    justify-content: center;
                    & > div {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-weight: 400;
                    }
                    .dot {
                        width: 8px;
                        height: 8px;
                        background: #32B84B;
                        display: inline-block;
                        border-radius: 50%;
                    }
                }
            }
        }  
        .action {
            margin-top: 5px;
            .btn {
                width: 100%;
            }
        } 
    }
}