:root {
    --black: #000000;
	--white: #ffffff;

	--primary: #375944;
	--darkgreen: #557662;
	--secondary: #e2dacf;
	--peachcream: #f5ece6;
	--darkblack: #212121;
	--lightblack: #303030;
	--gray: #525252;
	--darkgray: #595959;
	--lightgray: #767676;

	--success-green: #13612e;
	--success-green-light: #ecfdf3;
	--error-red: #b82105;
	--error-red-light: #ffe0dd;
	--warning-yellow: #f5a524;

	--font-prata: "Prata", serif;
}