@import "../../assets/css/scss/mixins";

.brand-logo-section {
    .col-md-6 {
        .logo-block {
            @media (min-width: 768px) {
                max-width: 570px;
                margin-left: auto
            }
        }
    }
    .logo-block {
        // @include flexbox;
        // @include align-items(center);
        // @include flex-wrap(wrap);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        @media (max-width: 1200px) {
            gap: 20px;
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 767px) {
            grid-template-columns: repeat(5, 1fr);
        }
        @media (max-width: 575px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
        .logo-item {            
            // max-width: 120px;
            width: 100%;
            border: 1px solid #E6E6E6;
            background: var(--white);
            @include border-radius(10px);
            div {
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                padding: 10px;
                img {
                    max-width: max-content;
                }
            }
        }
        a.logo-item {
            &:hover, &:focus {
                opacity: 0.7;
            }
        }
        &.is-slider {
            display: block; 
            -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
            mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
            @media(max-width: 992px) {
                margin: 0 -15px;
            }
            .logo-splide {
                .logo-item {            
                    max-width: 120px;
                    min-width: 120px;
                    width: 100%;
                    aspect-ratio: 1 / 1;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    @media (max-width: 992px) {
                        max-width: 100px;
                        min-width: 100px;
                        img {
                            max-height: 80px;
                        }
                    }
                }
            }
        }
    }
}