:root {
    --black: #000000;
	--white: #ffffff;

	--primary: #ed0400;
	--orange: #e34328;
	--darkblack: #0d0e10;
	--lightblack: #303030;
	--darkblue: #004D86;
	--gray: #E6E6E6;
	--dark-slate-grey: #40454f;

	--success-green: #027a48;
	--success-green-light: #ecfdf3;
	--error-red: #eb2010;
	--error-red-light: #ffe0dd;
}