@import '../../assets/css/scss/mixins';
.contracts-card-block {
    .contracts-card {
        .card-title {
            background: #ebedf0;
            position: relative;
            padding: 0.75rem 0;
            &::before {
                content: '';
                width: calc(50vw - 5rem);
                height: 100%;
                display: inline-block;
                position: absolute;
                top: 0;
                left: -6.25rem;
                background: #ebedf0;
                z-index: -1;
                @media (max-width: 767px) {
                    width: 100vw;
                    left: -1.25rem;
                }
            }
            h2 {
                margin-bottom: 0;
            }
        }
        .card-body {
            padding: 1.875rem 0 4.375rem;
            font-weight: 500;
            @media (max-width: 767px) {
                padding: 1.875rem 0 3.125rem;
            }
            h3 {
                font-weight: 700;
                font-size: clamp(1.5rem, 2vw, 1.625rem);
                margin-bottom: 0.5rem;
            }
            a {
                color: var(--darkblue);
                text-underline-offset: 0.313rem;
                &.btn-link {
                    font-size: clamp(1.125rem, 2vw, 1.375rem);
                    margin-top: 1.5rem;
                    @media (max-width: 767px) {
                        margin-top: 1rem;
                    }
                }
            }
            ul.square-list { 
                margin-bottom: 1rem;
            }
            hr {
                margin: 2rem 0;
                opacity: 1;
                color: #a6aaac;
            }
        }
    }
}
.contracts-details-block {
    & > hr {
        border-width: 1.5rem;
        color: var(--orange);
        opacity: 1;
        margin-bottom: 2rem;
        @media (max-width: 767px) {
            margin-bottom: 1.5rem;
        }
        &:first-child {            
            margin-top: 0;
        }
    }
    .content {
        padding-bottom: 3rem;
        font-weight: 500;
        @media (max-width: 767px) {
            padding-bottom: 2rem;
        }
        h3 {
            font-weight: 600;
            color: var(--orange);
        }
    }
    .image-block {
        @include flexbox;
        gap: 3.125rem;
        @media (max-width: 1200px) {
            gap: 1.875rem;
        }
        .media-block {
            width: calc(50% - 1.563rem);
            text-align: center;
            @media (max-width: 1200px) {
                width: calc(50% - 0.938rem);
            }
            img {
                max-width: 70%;
                @media (max-width: 1200px) {
                    max-width: 90%;
                }
            }
        }
    }
}