:root {
    --black: #000000;
	--white: #ffffff;
	--orange: #ed5e21;
	--darkblack: #2b3b4b;
	--blue: #5794b3;
	--darkblue: #62a8cb;

	--success-green: #027a48;
	--success-green-light: #ecfdf3;
	--error-red: #eb2010;
	--error-red-light: #ffe0dd;
}