.related-post-section {
     overflow: hidden;
    .post-card {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 2.5rem;
        
        cursor: pointer;
        // position: relative;

        @media (max-width:767px) {
            margin-bottom: 1.875rem;
        }
    }

    .card-body {
        display: contents;
    }

   .card-img {
    flex: 0 0 20rem;
    aspect-ratio: 16 / 9;
    flex-shrink: 0;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1694px) {
    .card-img {
        flex: 0 0 auto;
    }
}

@media (max-width: 991px) {
    .card-img {
        width: 100%;
        
    }
}

@media (max-width: 575px) {
    .card-img {
        width: 100%;
        
    }
}

    .card-title {
        max-width: 300px;
        margin: 0;
        align-self: flex-end;

        a {
            color: inherit;
            text-decoration: none;
            transition: transform 0.3s ease, color 0.3s ease;
            transform: translateX(0.25rem);


            &:hover,
            &:focus {
                color: var(--primary);
                text-decoration: underline;
                transition: transform 0.3s ease;
                transform: translateX(0.25rem);
            }
        }

        @media (max-width: 1680px) {
            margin-top: 2rem;
            
            max-width: 600px;
        }

        @media (max-width: 1440px) {
            // max-width: 422px;
        }
    }

    .card-info {
        width: 100%;
        margin-top: 1.875rem;
        max-width: 42.5rem;

        @media (max-width: 1680px) {
            margin-top: 1rem;
        }

        p {
            margin: 0;
        }

        .read-more {
            position: relative;
            z-index: 2;
            display: inline-block;
            margin-left: 0.25rem;
            color: var(--blue);
            transition: color 0.2s ease;

            &:hover,
            &:focus {
                color: var(--primary);

            }
        }
    }

    // .stretched-link::after {
    //     position: absolute;
    //     top: 0; right: 0; bottom: 0; left: 0;
    //     z-index: 1;
    //     content: "";
    // }

    .related-post-block {
        .row {
            @media (min-width: 576px) and (max-width: 767px) {
                >.col {
                    width: 50%;
                }
            }
        }
    }
}