.logo-section {
    padding: 50px 0;
    .section-title {
        h2 {
            font-weight: 600;
            font-size: 16px;
            color: #000000;
        }
    }
    .logo-block {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .logo-item {
            img {
                max-height: 60px;
            }
        }
    }
}