.image-content-section {
	@media (min-width: 1200px) {
		.row-gap { --bs-gutter-x: 60px; }
	}
	&.image-content-fixed {
		.card-image-block{
			position: sticky;
			top: 180px;
			@media (max-width:991px) {
				top: 115px;
			}
		}
	}
	.card-image-block {
		border-radius: 5px;
		overflow: hidden;
		img {
			width: 100%;
		}
		& + .content-info {margin-top: 30px;}
		@media (max-width:767px) {
			margin-bottom: 30px;
		}
		&.right-image {
			@media (min-width:768px) {
				text-align: right;
			}
		}
	}
	.section-title {
		.tagline {
			margin-bottom: 10px;
		}
		.title {
			margin-bottom: 15px;
		}
		.sort-info {
			font-size: 14px; 
			margin-bottom: 30px;
			max-width: 620px;
			p {
				font-size: 14px; 
			}
		}
	}
	.info-list-cards {
		margin-bottom: 30px;		
		& > .col:last-child:nth-child(odd) {
			width: 100%;
			flex: 0 0 100%;
		}
		.info-list-card {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: 100%;
			padding: 16px;
			background: #FFFFFF;
			border: 1px solid #E5E5E5;
			border-radius: 8px;
			position: relative;
			.card-content {
				h3 {
					font-weight: 600;
					font-size: 14px;
					margin-bottom: 10px;
					color: #000000;
					a {
						color: #000000;
						transition: all 0.3s ease-in-out;
					}
				}
				.card-info {
					font-weight: 400;
					font-size: 12px;
					color: #4C4C4C;
				}
			}
			&:hover:has(a), &:focus:has(a) {
				.card-content {
					h3 {
						a {
							color: #1E4397;
						}
					}
				}
			}
		}
	}
}