@import "../../assets/css/scss/mixins";

.cta-section {    
    margin-bottom: -200px;
    padding-bottom: 0 !important;
    @media (max-width: 992px) {
        margin-bottom: 0;
    }
    .cta-block {
        padding: 80px 40px;
        @include border-radius(12px);
        background: linear-gradient(90deg, #ffebeb, #e6d0ed);
        text-align: center;
        position: relative;
        @media (max-width: 992px) {
            padding: 50px 15px;
            margin: 0 -15px;
            @include border-radius(0px);
        }
        .cta-title {
            margin-bottom: 12px;
        }
        .cta-info {
            font-size: clamp(18px, 1.5vw, 22px);
            max-width: 800px;
            margin: 0 auto;
        }
        .action {
            margin-top: 40px;
            @media (max-width: 767px) {
                margin-top: 20px;
            }
        }
    }
}