:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #19446B;
  --secondary: #FF9700;

  --lightcream: #fff7ea;
  --darkcream: #f4e9da;
  --darkblack: #333333;
  
  --font-heading: "DM Sans", sans-serif;
  
}