:root {
    --black: #000000;
	--white: #ffffff;

	--primary: #9CCB40;
	--secondary: #0C436B;
	--lightblack: #525252;
	--gray: #F7F8F7;

	--success-green: #027a48;
	--success-green-light: #ecfdf3;
	--error-red: #eb2010;
	--error-red-light: #ffe0dd;
}