.cta-section {
    &.with-bg {
        .cta-block {
            background: #FFFFFF var(--bg-cta-img) no-repeat center center;
            background-size: cover;
            border: none;
            .cta-info { 
                h2 { 
                    color: #FFFFFF;
                }
                .sort-info, .cta-content-bottom {                    
                    color: rgba(#FFFFFF, 0.8);
                }
            }
        }
    }
    .cta-block {
        background: #FFFFFF;
        border: 2px solid #3CACE4;
        border-radius: 14px;
        padding: 50px;
        @media (max-width: 992px) {
            padding: 30px;
        }
        &.paid-consult-cta {
            padding-top: 200px;
            @media (max-width: 992px) {
                padding-top: 150px;
            }
        }
        &.text-left {
            .cta-info { 
                margin: 0;
                text-align: left;
                .action-block {                    
                    justify-content: flex-start;
                }
            }
        }
        .cta-info {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            h2 {
                font-size: clamp(20px, 1.5vw, 24px);
                margin-bottom: 10px;
            }
            .sort-info {
                font-weight: 400;
                font-size: 14px;
                color: #4c4c4c;
            }
            .action-block {                
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .icon-content-item {
                    margin-bottom: 0;
                    .card-details {
                        .card-title {
                            font-weight: 500;
                            font-size: 11px;
                            color: rgba(255, 255, 255, 0.9);
                        }
                        .info-dec {
                            font-weight: 600;
                            font-size: 14px;
                            color: #FFFFFF;
                            &:before {                            
                                background: #ffffff;
                            }
                        }
                    }
                }
            } 
            .cta-content-bottom {
                font-weight: 400;
                font-size: 12px;
                color: #4c4c4c;    
                margin-top: 20px;
            }
        }
    }
}