.cta-section {
    .cta-block {
        background: #FFFFFF var(--bg-cta-img) no-repeat center center;
        background-size: cover;
        // border: 2px solid #3CACE4;
        border-radius: 14px;
        padding: 50px;
        .cta-info {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            h2 {
                font-size: clamp(20px, 1.5vw, 24px);
                margin-bottom: 10px;
                font-weight: 700;
                color: #FFFFFF;
            }
            .sort-info {
                font-weight: 400;
                font-size: 14px;
                color: rgba(#FFFFFF, 0.8);
            }
            .action-block {                
                margin-top: 30px;
            } 
            .cta-content-bottom {
                font-weight: 400;
                font-size: 12px;
                color: rgba(#FFFFFF, 0.8);    
                margin-top: 20px;
            }
        }
    }
}