@import '../../assets/css/scss/mixins';
.contact-section {
    position: relative;
    &::before {
        content: '';
        width: 1.5rem;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: var(--orange);
        display: block;
        @media (max-width: 992px) {
            width: 0.25rem;
        }
    }
    &::after {
        content: '';
        width: 50vw;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #f7f8f9;
        display: block;
        z-index: -1;
        @media (max-width: 767px) {
            content: none;
        }
    }
    .contact-form-block {
        background: #f7f8f9;
        @media (max-width: 767px) {
            margin: 0 -1.25rem 2.5rem;
            padding: 1.25rem;
        }
    }
    .contact-info-block {
        padding-left: 4.375rem;
        @media (max-width: 1200px) {
            padding-left: 1.875rem;
        }
        @media (max-width: 767px) {
            padding-left: 0;
        } 
        hr {
            max-width: 12rem;
            opacity: 1;
            border-width: 0.125rem;
            margin-top: 3rem;
            margin-bottom: 3rem;
            @media (max-width: 767px) {
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
        }
        .contact-info-card {
            .card-title {
                margin-bottom: 1.5rem;
                font-weight: 700;
                @media (max-width: 767px) {
                    margin-top: 1.5rem;
                }
            }
            .card-info {
                font-weight: 500;
                .map-link {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        top: calc(50% - 3rem);
                        left: calc(50% - 3rem);
                        width: 4rem;
                        height: 4rem;
                        @include border-radius(50%);
                        background: var(--black) url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21C15.5 17.4 19 14.1764 19 10.2C19 6.22355 15.866 3 12 3C8.13401 3 5 6.22355 5 10.2C5 14.1764 8.5 17.4 12 21Z" stroke="rgb(0, 124, 137)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="rgb(0, 124, 137)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center;
                        background-size: 2.5rem;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                        animation: anim-pulse 2s ease-out infinite;
                    }
                    .icon-location {
                        
                        svg {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                }
                a { 
                    font-weight: 600;
                    color: var(--darkblue);
                    text-underline-offset: 0.313rem;
                }
            }            
            .social-list {
                @include flexbox;
                @include align-items(center);
                gap: 1rem;
                li {
                    a {
                        color: var(--black);
                        border: 1px solid var(--black);
                        background-color: transparent;
                        width: 3rem;
                        height: 3rem;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                        @include transition(0.2s, ease-in-out);
                        svg {
                            width: 1.625rem;
                            height: 100%;
                        }
                        &:hover, &:focus {
                            color: var(--white);
                            background-color: var(--orange);
                            border-color: var(--orange);
                        }
                    }
                }
            }
        }
        .social-list {
            @include flexbox;
            @include align-items(center);
            gap: 1rem;
            li {
                a {
                    color: var(--white);
                    background-color: var(--darkblue);
                    width: 3rem;
                    height: 3rem;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    @include transition(0.2s, ease-in-out);
                    svg {
                        width: 1.625rem;
                        height: 100%;
                    }
                    &:hover, &:focus {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}
@keyframes anim-pulse {
    0%,100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
}