.info-card-section {
    .info-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1 1 auto;
        position: relative;
        .card-body {
            .card-title {
                color: var(--black);
                margin-bottom: 1rem;
                a {
                    color: var(--black);
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
        .card-action {
            margin-top: 1.5rem;
            z-index: 10;
        }
        &:hover, &:focus {
            .card-body {
                .card-title {
                    color: var(--orange);
                    a {
                        color: var(--orange);
                    }
                }
            }
        }
    }
}