@import '../../assets/css/scss/mixins';
.info-card-section {
    .info-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        flex: 1 1 auto;
        position: relative;
        .card-body {
            .card-title {
                color: var(--black);
                margin-bottom: 1rem;
                @include transition(0.3s, ease-in-out);
                a {
                    color: var(--black);
                    text-decoration: none;
                    @include transition(0.3s, ease-in-out);
                }
            }
        }
        .card-action {
            margin-top: 1.5rem;
        }
        &:hover, &:focus {
            .card-body {
                .card-title {
                    color: var(--orange);
                    a {
                        color: var(--orange);
                    }
                }
            }
        }
    }
}