@import '../../assets/css/scss/mixins';

.contact-section {
    .section-title {
        margin-bottom: 30px;
    }
    .contact-details-block {
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 25px;
                }
                span {
                    font-weight: 600;
                    font-size: 14px;
                    font-family: var(--font-prata);
                    color: var(--primary);
                    display: block;
                    margin-bottom: 5px
                }
                .content {
                    @include flexbox;
                    @include align-items(center);
                    gap: 15px;
                    &.social-list {
                        margin-top: 15px;
                        gap: 20px;
                    }
                    a {
                        font-weight: 500;
                        font-size: clamp(16px, 2vw, 18px);
                        color: var(--black);
                        text-decoration: none;
                        @include transition(0.2s, ease-in-out);
                        text-underline-offset: 5px;
                        &:hover, &:focus {
                            color: var(--primary);
                            text-decoration: underline;
                        }
                        &.social-link {
                            @include inline-flex;
                            @include align-items(center);
                            @include justify-content(center);
                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    .icw-form-block {
        background: rgba(#ffffff, 0.7);
        padding: 30px;
        height: 100%;
    }
}
.map-section {
    height: 500px;
    padding: 0;
    @media (max-width: 992px) {
        height: 350px;
    }
    @media (max-width: 767px) {
        height: 280px;
    }
}