@import '../../assets/css/scss/mixins';

.category-card-block {
    display: grid;
    grid-template-columns: minmax(0, 35%) minmax(0, 30%) minmax(0, 35%);
    @media (max-width: 767px) {
        grid-template-columns: 1fr;
    }
    .category-card {
        height: 350px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        padding: 30px;
        position: relative;
        @media (max-width: 992px) {
            height: 250px;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 0;
            filter: opacity(100%);
            opacity: 0.4;
            background-color: var(--darkblack);
            mix-blend-mode: normal;
            z-index: 1;
            @include transition(0.2s, ease-in-out);
        }
        .category-img {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .category-info {
            z-index: 2;
            text-align: center;
            .highlight-words {
                margin-bottom: -80px;
                font-size: clamp(70px, 5vw, 100px);
                font-weight: 700;
                line-height: 1;
                font-family: var(--font-prata);
                color: rgba(226, 218, 207, 0.4);
                @media (max-width: 992px) {
                    margin-bottom: -50px;
                }
            }
            .title {
                color: var(--white);
                margin: 0;
                font-weight: 700;
                a {
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }
        &:has(a) {
            &:hover, &:focus {
                &::before {
                    opacity: 0.6;
                }
                .category-info {
                    .title {
                        a {
                            // color: var(--peachcream);
                        }
                    }
                }
            }
        }
    }
}