@import "../../assets/css/scss/mixins";

.counter-section {
    .section-title {
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }
    .counter-block {
        margin-top: 50px;
        @media (max-width: 992px) {
            margin-top: 30px;
        }
    }
    .counter-card {
        .card-title {
            font-weight: 600;
            font-size: clamp(22px, 3vw, 32px);
            color: var(--darkblue);
            margin-bottom: 10px;
        }
        .card-info {
            font-size: clamp(14px, 1.5vw, 16px);
            color: var(--lightblack);
        }
    }
    .row.flex-md-row-reverse {
        .media-block, .multiple-img-splide {
            margin-left: auto;
        }
    }
    .multiple-img-splide {
        max-width: 580px;
        width: 100%;
        &:has(.ratio-3x4) {
            max-width: 535px;
        }
        @media (max-width: 1200px) {
            position: sticky;
            top: 100px;
        }
        @media (max-width: 767px) {
            max-width: 100% !important;
        }
    }
    .media-block {
        margin-left: 0;
        max-width: 580px;
        width: 100%;
        &:not(.ratio-1x1) {
            max-width: 535px;
        }
        @media (max-width: 1200px) {
            position: sticky;
            top: 100px;
        }
        @media (max-width: 767px) {
            max-width: 100% !important;
        }
    }
}