@import "../../assets/css/scss/mixins";

.info-card-section {
    .info-card-block {
        .row {
            --bs-gutter-y: 40px;
            --bs-gutter-x: 60px;
            @media (max-width: 1200px) {                
                --bs-gutter-y: 30px;
                --bs-gutter-x: 30px;
            }
        }
    }
    .info-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        background: var(--white);
        .card-icon {
            // background: rgba(#ed0400, 0.1);
            // width: 45px;
            // height: 45px;
            // @include flexbox;
            // @include align-items(center);
            // @include justify-content(center);
            margin-bottom: 12px;
            img {
                width: 32px;
                height: 32px;
            }
        }
        .card-body {
            .card-title {
                font-size: clamp(16px, 1.5vw, 18px);
                margin-bottom: 3px;
                color: var(--dark-slate-grey);
                line-height: 1.5;
            }
            .card-info {
                color: var(--darkblack);
                font-size: clamp(16px, 1.5vw, 18px);
                max-width: 320px;
            }
        }
        &.no-border {
            padding: 0;
            border: none;
        }
        &.is-image {
            padding: 0;
            .card-img {
                overflow: hidden;
                height: 100%;
                @media (max-width: 992px) {
                    max-height: 180px;
                }
                .img-animation, img {
                    height: 100%;
                }
            }
        }
    }
}