@import '../../assets/css/scss/mixins';

.counter-section {
    .counter-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        text-align: center;
        .count-number {
            font-size: clamp(24px, 3vw, 42px);
            color: var(--primary);
        }
        .card-title {
            font-size: clamp(18px, 2vw, 22px);
            font-weight: 600;
            color: var(--black);
            margin: 10px 0;
        }
    }
}