.hero-section {
    padding: 100px 0;
    @media (max-width: 1350px) {
		padding-top: 50px;
		padding-bottom: 50px;
    }
    &.with-bg {
        background: var(--bg-img);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        @media (max-width: 992px) {
            // background: linear-gradient(90deg, rgba(216,233,245,0.86) 70%, rgba(216,233,245,0) 100%),var(--bg-img);
            background-position: center bottom;
        }
    }
    .hero-title {
        margin-top: 0 !important;
        margin-bottom: 0;
		@media (max-width: 767px) {
			margin-bottom: 0px;
		}
        .tagline {
            margin-bottom: 20px;
            padding: 5px 12px;
            background: rgba(60, 172, 228, 0.2);
            border: 1px solid rgba(60, 172, 228, 0.6);
            border-radius: 50px;
            font-weight: 500;
            font-size: 12px;
            color: #3CACE4;
            display: inline-block;
        }
        h1 {
            font-size: clamp(32px, 4vw, 58px);
            color: #ffffff;
            line-height: 1.1;
            margin-bottom: 20px;
        }
        .sort-info {
            font-weight: 400;
            font-size: clamp(16px, 1.5vw, 18px);
            color: rgba(#ffffff, 0.9);
            max-width: 640px;
            .highlight-text {
                margin-top: 40px;
                display: flex;
                gap: 10px;
                font-size: 13px;
                font-weight: 500;
                align-items: center;
            }
        }
        .action-block {     
            display: flex;
            align-items: center;
            gap: 20px;     
            margin-top: 40px;  
            @media (max-width: 575px) {
                flex-direction: column;
                .btn {
                    width: 100%;
                }
            }
            .icon-content-item {
                margin-bottom: 0;
                .card-details {
                    .card-title {
                        font-weight: 500;
                        font-size: 11px;
                        color: rgba(255, 255, 255, 0.9);
                    }
                    .info-dec {
                        font-weight: 600;
                        font-size: 14px;
                        color: #FFFFFF;
                        &:before {                            
			                background: #ffffff;
                        }
                    }
                }
            }
        }
    }
}